body {
    margin: 0;
    padding: 0;
    background-color: #c3ddff;
    font-family: 'Noto Sans Thai', sans-serif;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.test {
    border: 1px solid red;
}