form {
    width: 100%;
    justify-items: center;
}

input {
    margin: 10px;
    padding-left: 15px;
    height: 50px;
    width: 200px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

h2 {
    margin: 0;
}

button.submit{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #8dc8ff;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    transition: linear 0.2s;
}

button.submit:hover{
    background-color: #6d9bc7;
}

.form-container {
    margin: 20px;
    text-align: center;
}
